.banner-img img
{
  height: 70vh;
  
}
.text
{
  position: absolute;
  width: 40%;
  height: 200px;
  background-color: rgb(81, 82, 83);
  opacity: 70%;
  bottom: 100px;
  border-radius: 0px 20px 20px 0px;
}
.text:hover{
  transform:scale(1.04);
  transition: all 1s;

}
.text h1{
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  font-size: 40px;
}
.text p{
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  font-size: 20px;
}